<div class="digi-container">
  <section>
    <img src="/images/for-user-1.jpg" width="100%" />
    <div class="container">
      <h3>
        DIGI
      </h3>
      <p>
        Order items and collect loyalty points automatically.
      </p>
      <p>Get rewarded for every penny you spent.</p>
      <div class="buttons">
        <a class="btn btn-info"><i class="fa fa-apple"></i>Download for iOS</a>
        <a class="btn btn-info"><i class="fa fa-android"></i>Download for Android</a>
      </div>
    </div>
  </section>
  <div class="container">
    <section>
      <h3>Getting rewarded has never been easier</h3>
      <div class="col-lg-4">
        <img src="/images/icon1.png" />
        <div class="title">
          Instant Ordering
        </div>
        <div class="description">
          Browse through items and order directly from your mobile phone. Save on the time waiting for staff to take your orders.
        </div>
      </div>
      <div class="col-lg-4">
        <img src="/images/icon2.png" />
        <div class="title">
          Collect Points
        </div>
        <div class="description">
          No need to bring your stamp cards anymore.  Everything is automated.
        </div>
      </div>
      <div class="col-lg-4">
        <img src="/images/icon3.png" />
        <div class="title">
          Earn Rewards
        </div>
        <div class="description">
          Choose among a variety of rewards from your favorite retailers. Be rewarded on every penny you spent.
        </div>
      </div>
    </section>
    <section>
      <h3>How It Work</h3>
      <div class="col-lg-3">
        <img src="/images/app1.jpg" width="100%"/>
        <div class="description">Choose the vendor you are making purchase at.</div>
      </div>
      <div class="col-lg-3">
        <img src="/images/app2.jpg" width="100%" />
        <div class="description">Order from Digi app.</div>
      </div>
      <div class="col-lg-3">
        <img src="/images/app3.jpg" width="100%" />
        <div class="description">Take photo of QR code to collect loyalty points (ask your cashier for QR code tailored to your order).</div>
      </div>
      <div class="col-lg-3">
        <img src="/images/app4.jpg" width="100%" />
        <div class="description">Enjoy your rewards!</div>
      </div>
    </section>
    <section>
      <h3>Collect your rewards now!</h3>
      <ul class="bxslider partners">
        <li><img src="/images/partner1.png" /></li>
        <li><img src="/images/partner2.png" /></li>
        <li><img src="/images/partner3.png" /></li>
        <li><img src="/images/partner4.png" /></li>
        <li><img src="/images/partner5.png" /></li>
      </ul>
    </section>
  </div>
</div>