<footer>
  <div class="container">
    <div class="contact">
      <div class="col-lg-3">
        <h3>FIND US ONLINE</h3>
        <a><i class="fa fa-facebook"></i></a>
        <a><i class="fa fa-twitter"></i></a>
        <a><i class="fa fa-linkedin"></i></a>
        <a><i class="fa fa-instagram"></i></a>
      </div>
      <div class="col-lg-3">
        <a class="btn btn-info"><i class="fa fa-apple"></i>Download for iOS</a>
        <a class="btn btn-info"><i class="fa fa-android"></i>Download for Android</a>
      </div>
      <div class="col-lg-3">
        <ul>
          <li>For User</li>
          <li>For Business</li>
          <li>Help & Support</li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h3>Contact Us</h3>
        <p>Equity Tower #01-18
          Jakarta, Indonesia
          Email: contact.us@digi.com
          Phone: +62 (021) 12345</p>
      </div>
    </div>
    <div class="copyright">© Copyright Digi 2016. All Rights Reserved.</div>
  </div>
</footer>