<header>
  <div class="container menu">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand"><img src="/images/logo.png" class="logo"/></a>
    </div>
    <nav id="bs-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li> <a href="../getting-started/">For User</a> </li>
        <li> <a href="../css/">For Business</a> </li>
        <li class="active"> <a href="../components/">Sign In</a> </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Country <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">VietNam</a></li>
            <li><a href="#">Indonesia</a></li>
          </ul>
        </li>
        <li> <a href="../customize/"><img src="/images/en.png" /> <img src="/images/ind.png" /> <img src="/images/vn.png" /></a> </li>
      </ul>
    </nav>
  </div>
  <div class="banner">
    <img src="/images/banner-for-user.jpg" width="100%" />
    <div class="container content">
      <div class="website-name">
        DIGI
      </div>
      <div class="slogan">Your retail experience made easy like never before</div>
      <div class="buttons">
        <a class="btn btn-info">For Users</a>
        <a class="btn btn-info">For Business</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="contact">
      <div class="col-lg-3">
        <h3>FIND US ONLINE</h3>
        <a><i class="fa fa-facebook"></i></a>
        <a><i class="fa fa-twitter"></i></a>
        <a><i class="fa fa-linkedin"></i></a>
        <a><i class="fa fa-instagram"></i></a>
      </div>
      <div class="col-lg-3">
        <a class="btn btn-info"><i class="fa fa-apple"></i>Download for iOS</a>
        <a class="btn btn-info"><i class="fa fa-android"></i>Download for Android</a>
      </div>
      <div class="col-lg-3">
        <ul>
          <li>For User</li>
          <li>For Business</li>
          <li>Help & Support</li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h3>Contact Us</h3>
        <p>Equity Tower #01-18
          Jakarta, Indonesia
          Email: contact.us@digi.com
          Phone: +62 (021) 12345</p>
      </div>
    </div>
  </div>
</header>